body{
    overflow-x: hidden;
    padding: 2% 2% 2% 2%;
}

.header-cont{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: white fixed;
    border: solid thin black;
    height: 45px;
    z-index: 10;
}

/* The side navigation menu */
.sidemenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 11; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: auto; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidemenu a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* main list */
.list {
    position: relative;
    top: 40px;
    padding: 2% 2%;
    border: thin solid black;
    font-size: 30px;
    z-index: 3;
}

/* list item */
.list li {
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    display: block;
    border: thin solid black;
    word-wrap: break-word;
}

.spacer {
    position: relative;
    height: 10px;
    display: block;
}